.design-container{
  width: 60vw;
}
.design-img img{
  width: 100%;
  height: auto;
}
.design-text p{
  font-size: 0.9em;
  font-weight: 600;
}
.design-text button{
  font-size: 0.8em;
  font-weight: 600;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
}
.design-text button:hover{
  border-bottom: 1px solid white;
}
.design-text h2{
  font-weight: 600;
}