@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --blue: #354259;
  --brown: #CDC2AE;
  --yellow: #ECE5C7;
  --light-blue: #7EE8FA;
  --green: #0BAB64;
  --light-green: #3BB78F;
}
a{
  text-decoration: none;
  color: black;
}
a:active{
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color: black;
}
.font-min{
  font-size: 0.5em;
}
.font-xs{
  font-size: 0.8em;
}
.font-sm{
  font-size: 0.9em;
}
.font-lg{
  font-size: 1.1em;
}
.font-xl{
  font-size: 1.2em;
}
.font-xxl{
  font-size: 1.5em;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.button{
  width: 6.5em;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.1em;
}
.bg-green-gradient{
  background-image: linear-gradient(to right, var(--green), var(--light-green));
}
.bg-blue-gradient{
  background-image: linear-gradient(to right, #4884EE, #06BCFB);
}

.h-responsive{
  font-size: 1em;
}
@media (min-width: 500px){
  .h-responsive{
    font-size: 1.5em;
  }
}
@media (min-width: 800px){
  .h-responsive{
    font-size: 2em;
  }
}
@media (min-width: 1000px){
  .h-responsive{
    font-size: 2.5em;
  }
}